body{
    background-color: aquamarine;
}

#box{
    width: 640px;
    height: 640px;
    border: 2px solid blue;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.btn button{
    color: white;
    padding: 10px;
    font-size: 15px;
    background-color: blueviolet;
}

.select select{
    color: white;
    padding: 10px;
    font-size: 15px;
    background-color: blueviolet;

}



